.chat1{
    margin-left: 200px;
    float: left;
    background:cornflowerblue;
    width:50%;
    border: 1px solid;
}
.chat2{
    float: left;
    width: 15%;
    border: 1px solid;
}
#txt{
    margin: 2px;
    float: left;
    width: 80%;
    height: 88%;
}
#send{
    margin: 10px;
    float: left;
    width: 100px;
    height: 60px;
}